<!DOCTYPE html>
<html>
<head>
  <title>Create a New ENTRY!</title>
</head>
<body>
  <form action="/people" method="POST"> <!-- POST is preferred request type for new data. notice /people here and in .rb -->
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="color" placeholder="Color">
    <button type="submit">Save</button>
  </form>
</body>
</html>