blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}
section#external-links {
	width: 20%;
	display: inline-block;
	vertical-align: top;
}


/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}
body {
	margin-right: auto;
	margin-left: auto;
	max-width:960px;
	min-width: 490px;
}
main {
	width: 75%;
	display: inline-block;
	vertical-align: top;
}
@media screen and (max-width: 500px) {
  body {
    background-color: hotpink;
  }
}
/*This turns the background hot pink when the display size is less than 500px */
@media screen and (max-width: 500px) {
  h1 {
    font-size: .5em;
  }
}
@media screen and (max-width: 500px) {
  section {
    width: 100%;
    position: absolute;

  }
  main {
  	width: 100%;
  	position: absolute;
  	z-index: -1;
  }
}
/* Mobile first design, since it's the hardest, should be done first */
/* Float lets objects basically wrap around other objects, while display 
will have more of an absolute side by side interaction. */