.octopus-wrapper {
	position: relative;
}
#octopus {
	position: absolute;
	margin-left: 800px;
	margin-top: 200px;
	margin-right: 500px;
	display: block;
	z-index: -1;
}
#hat {
	position: absolute;
	margin-left: 780px;
	margin-right: 400px;
	margin-top: 120px;
}

#glasses {

	position: absolute;
	margin-right: 400px;
	margin-left: 800px;
	margin-top: 250px;
}