.octopus-wrapper {
	position: relative;
}
#octopus {
	position: absolute;
	margin: auto;
	display: block;
	z-index: -1;
}
#hat {
	position: absolute;
	margin-left: 400px;
	margin-right: 400px;
	margin-top: 450px;
}

#glasses {

	position: absolute;
	margin-right: 400px;
	margin-left: 400px;
	margin-top: 500px;
}